body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0fdf4;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.panel.left-panel {
    background-color: #e6f4ea;
    border: 1px solid #c8e6c9;
    border-radius: 12px;
    padding: 24px;
    width: 360px;
    box-shadow: 2px 0 10px rgba(0, 128, 0, 0.05);
    margin: 10px;
    margin-top: 20px;
    flex-shrink: 0;
    /* doesnt make smaller */
}

h2#current-date {
    color: #2e7d32;
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
}

.currency-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 100vh;
    overflow-y: auto;
}

.currency-item {
    background-color: #ffffff;
    border: 1px solid #d0e9d0;
    border-radius: 10px;
    padding: 12px 16px;
    margin-bottom: 12px;
    color: #2e7d32;
    box-shadow: 0 2px 5px rgba(0, 128, 0, 0.08);
    transition: transform 0.1s ease, background-color 0.2s ease;
}

.currency-item:hover {
    background-color: #e0f7ea;
    transform: scale(1.01);
}

/*CONVERTER*/
.converter-full {
    flex: 1;
    margin: 20px;
    padding: 24px;
    height: 250px;
    background-color: #b6f7b9;
    border-radius: 12px;
}

h2#converter-head-text {
    color: #2e7d32;
    text-align: center;
    margin: 3vh; 
    padding: 0%;
}

#foreign-input {
    height: 30px;
    width: 33%;
    font-size: 16px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 12px;

}


.currency-select {
    width: 33vh;
    height: 48px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #fff;
    color: #333;
    box-sizing: border-box;
}


#calculated-hrn-input {
    width: 31%;
    height: 48px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #fff;
    color: #333;
    box-sizing: border-box;
}

#hrn-input {
    height: 30px;
    width: 33%;
    font-size: 16px;
    margin-top: 10px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 12px;

}

#calculated-foreign {
    width: 31%;
    height: 48px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #fff;
    color: #333;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    body {
        flex-direction: column-reverse;
    }

    .panel.left-panel {
        width: auto;
        margin: 10px;
    }

    .converter-full {
        margin: 10px;
        padding: 16px;
    }

    input[type="text"],
    select {
        width: 100%;
        font-size: 16px;
    }

    #hrn-amount-needed {
        text-align: left;
        margin-left: 0;
    }
}